<div class="container">
  <table>
    <thead>
      <tr>
        <th class="t-headers t-content t-align-center">Logo</th>
        <th class="t-headers t-content t-align-center">Nombre del Producto</th>
        <th class="t-headers t-content t-align-center">Descripción</th>
        <th class="t-headers t-content t-align-left pl-0">Fecha de Liberación</th>
        <th class="t-headers t-content t-align-left pl-0">Fecha de Reestructuración</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="t-data t-content t-align-center">
          <img loading="lazy" src="https://placehold.co/300x400" alt="Logo del producto"
            onerror="if (this.src != 'assets/img/jk-placeholder-image.jpg') this.src = 'assets/img/jk-placeholder-image.jpg';">
        </td>
        <td class="t-data t-content t-align-center">
          <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure rem quidem tenetur, autem iusto repellat
            iste id nulla asperiores error.</span>
        </td>
        <td class="t-data t-content t-align-left"><span>Lorem, ipsum dolor sit amet consectetur
            adipisicing elit.
            Praesentium labore totam aliquid iste dicta nobis veniam maiores beatae voluptatibus fugiat non sunt ab id
            nisi fuga, corporis ea asperiores illum a cupiditate voluptatum veritatis quia! Reiciendis nulla, id illum
            dignissimos magnam distinctio. Quod tempore laborum doloribus esse, laboriosam consequatur minus architecto
            incidunt non natus eligendi sint voluptatum? Explicabo, ab expedita.</span></td>
        <td class="t-data t-content t-align-left"><span>Fecha de Liberación</span></td>
        <td class="t-data t-content t-align-left"><span>Fecha de Reestructuración</span></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="footer">
  <div class="div-total">{{datos.length}} Resultados</div>
  <div class="paginacion">paginas</div>
  <div class="div-select">
    <select>
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
    </select>
  </div>
</div>