<div class="container">
  <table>
    <caption style="display: none">Datos</caption>
    <thead>
      <tr>
        <th class="t-headers t-content t-align-center">Logo</th>
        <th class="t-headers t-content t-align-center">Nombre del Producto</th>
        <th class="t-headers t-content t-align-center">Descripción</th>
        <th class="t-headers t-content t-align-left pl-0">Fecha de Liberación</th>
        <th class="t-headers t-content t-align-left pl-0">Fecha de Reestructuración</th>
        <th class="t-headers t-content"></th>
      </tr>
    </thead>
    <tbody *ngIf="datos.length == 0">
      <tr>
        <td colspan="6" class="sin-datos">No hay datos a mostrar.</td>
      </tr>
    </tbody>
    <tbody *ngIf="datos.length > 0">
      <tr *ngFor="let producto of dataPaginada[paginaActual]">
        <td class="t-data t-content t-align-center">
          <img loading="lazy" [src]="producto.logo" alt="Logo del producto"
            onerror="if (this.src != 'assets/img/jk-placeholder-image.jpg') this.src = 'assets/img/jk-placeholder-image.jpg';">
        </td>
        <td class="t-data t-content t-align-center">
          <span>{{producto.name}}</span>
        </td>
        <td class="t-data t-content t-align-left">
          <span>{{producto.description}}</span>
        </td>
        <td class="t-data t-content t-align-left"><span>{{producto.date_release | date:'dd/MM/yyyy'}}</span></td>
        <td class="t-data t-content t-align-left"><span>{{producto.date_revision | date:'dd/MM/yyyy'}}</span></td>
        <td class="t-data t-content"> <app-contextual-menu (onEdit)="editProduct(producto)"
            (onDelete)="deleteItem(producto)" /> </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="footer">
  <div class="div-total" *ngIf="datos.length > 0">{{paginaActual >= dataPaginada.length ? 0 :
    dataPaginada[paginaActual].length}} Resultados</div>
  <div class="div-total" *ngIf="datos.length == 0">0 Resultados</div>
  <div class="paginacion">
    <button *ngFor="let d of dataPaginada;let i = index;" [ngClass]="{'active': i == paginaActual}"
      (click)="changePage(i)">{{i +
      1}}</button>
  </div>
  <div class="div-select">
    <select (change)="paginar($event)">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
    </select>
  </div>
</div>